
h1.todo-header {
	background: #0A0B0D;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 400;
}

div#container {
	width: 360px;
	margin: 0 auto;
	border: 2px solid #73A2BF;
	background: #f7f7f7;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

#container ul {
	cursor: pointer;
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: #fff;
	padding-left: 10px;
	line-height: 2em;
	margin: 0;
	color: #666;
}

li:nth-child(2n) {
	background: #f7f7f7;
}

li.clicked {
	color: gray;
	text-decoration: line-through;
}

input#addToDo {
	font-size: 18px;
	color: #213140;
	background: #4A738C;
	border: none;
	width: 100%;
	padding: 10px 10px 10px 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-border-box: border-box;
}

input#addToDo:focus {
	background: white;
	border: 2px solid skyblue;
	outline: none;
	transition: 0.1s;
}
 ::placeholder{
	color: #91C4D9;
}

i.fa-trash {
	margin: 7px;
}

span {
	background: tomato;
	height: 35px;
	width: 0;
	margin-right: 10px;
	margin-left: -10px;
	text-align: center;
	display: inline-block;
	color: white;
	opacity: 0;
	transition: 0.2s linear;
}

li:hover span {
	opacity: 1;
	width: 40px;
}

#root{
background-color: #213140;
padding: 8px;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}

.header{
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
	justify-content: center;
	align-items: center;
}

.button{
	background-color: #73A2BF;
	justify-content: center;
}

.button2{
	background-color: #df7e7e;
	justify-content: center;
}

.footer{
	display: flex;
	padding-top: 10px;
	justify-content: space-around;
	align-items: center;
}
